<%- include('../includes/header.ejs')%>
<style>
  body{
    background: url(/images/line3.jpg);
background-repeat: no-repeat;
background-size: 100% 100%;
width: 100%;
background-attachment: fixed;
  }
</style>
</head>
<body >
  <div class="container" style="margin-top: 50px;">
    <div class="row ">
      <div class="cont col-md-4 offset-md-4 p-3">
        <div class="text-center"><img src="/images/a's pay (2).jpg" alt="" style="width:100px;height: 100px;border-radius: 50%;"> </div>

        <h2 class="text-center h2">Register</h2>
        <form action="/register" method="post">
            <div class="form-group mb-3">
                <label for="exampleInputName">Name</label>
                <i class="fas fa-user" id="shows"></i>
                <input type="text" placeholder="Enter name" name="name" value="<%= olds.length >0 && olds[0].name ? olds[0].name : ''  %>" >
                <% for(let err of regErr){
                  if(err.path == "name"){%>
                    <small style="color: red;"><%= err.msg%></small>
                <%  }
                }%>
              </div>
              <div class="form-group mb-3">
                <label for="exampleInputName">Email</label>
                <i class="fas fa-envelope" id="shows"></i>
                <input type="email" placeholder="Enter email" name="email" value="<%= olds.length >0 && olds[0].email ? olds[0].email : ''  %>" >
                <% for(let err of regErr){
                  if(err.path == "email"){%>
                    <small style="color: red;"><%= err.msg%></small>
                <%  }
                }%>
              </div>
              <div class="form-group mb-3">
                <label for="exampleInputName">Phone Number</label>
                <i class="fas fa-phone" id="showss"></i>
                <input type="tel" placeholder="Enter Phone" name="phone" value="<%=countryCode%>" >
                <% for(let err of regErr){
                  if(err.path == "phone"){%>
                    <small style="color: red;"><%= err.msg%></small>
                <%  }
                }%>
              </div>
              <div class="form-group mb-3">
                <label for="exampleInputName">Password</label>
                <i class="fas fa-eye-slash" id="show"></i>
                <input type="password" placeholder=". . . . . . ." name="password" id="pawd" >
                <% for(let err of regErr){
                  if(err.path == "password"){%>
                    <small style="color: red;"><%= err.msg%></small>
                <%  }
                }%>              </div>
                <div class="form-check my-3">
                  <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked"/>
                  <label class="form-check-label" for="flexCheckChecked">Remember Me</label>
                </div>
              <div class="text-center mb-3">
                <button type="submit" class="btn" id="play">Sign Up</button>
              </div>
              <div>
                <span>Already have an account? <a href="/login" style="text-decoration: none;color:rgb(31, 114, 31) ;">Sign In</a></span>
              </div>
             
              
        </form>
      </div> 
    </div>
   
 </div>







<%- include('../includes/footer.ejs')%> 
<script>
let icon = document.getElementById('show')
let pawd = document.getElementById('pawd')
icon.addEventListener('click',clickMe)
function clickMe(e){
  e.preventDefault();
  if(pawd.getAttribute('type') == "password"){
     pawd.setAttribute('type','text')
     icon.className += 'fas fa-eye'
  }else{
    pawd.setAttribute('type','password')
    icon.className += 'fas fa-eye-slash'

  }
}
const phoneInput = document.querySelector('input[name="password"]');
    phoneInput.addEventListener('input', () => {
      if (phoneInput.classList.contains('errBord')) {
        phoneInput.classList.remove('errBord');
      }
    });
</script>
</body>
</html>